@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1d222b;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: #fff 0.3s ease;
}

a:hover {
    color: #f36320;
}